<div class="col-md-12">
    <div class="card card-container">
      
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        
        <div class="form-group">
          <label for="token">Token</label>
          <input
            type="text"
            class="form-control"
            name="token"
            [(ngModel)]="form.token"
            required
            token
            #token="ngModel"
          />
          <div class="alert-danger" *ngIf="token.errors && f.submitted">
            <div *ngIf="token.errors.required">token is required</div>
            <div *ngIf="token.errors.token">
                token must be valid 
            </div>
          </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>


        <div class="form-group">
          <button class="btn btn-primary btn-block">Change Password</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Password changing failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your Password is changed successfully!
      </div>
    </div>
  </div>