<!--
<div class="container">

  <body>
    <table class="table table-striped table-valign-middle">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">photo</th>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Password</th>
          <th scope="col">Departement</th>
          <th scope="col">Num</th>
          <th scope="col">Role</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users 
            let i = index" [class.active]="i == currentIndex" (click)="setActiveUser(user, i)">
            <td>{{ user.id }}</td>
          
            <img src="http://localhost:8089/SpringMVC/files/{{ user.fileDB.id}}"  class="img-circle img-size-32 mr-2" style="width:50px;height:50px;">
          
          <td>{{ user.username }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.departement }}</td>
          <td>{{ user.numTel }}</td>
          <td>
            <ul>
              <li *ngFor="let role of user.roles">
                {{ role.name }}
              </li>
            </ul>
          </td>
    
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary btn-block" (click)="EmployeeList()">
      Employees List
    </button>
  </body>
</div>
-->



<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-column flex-column-fluid">
    <!--begin::Header-->
    
    <!--end::Header-->
    <!--begin::Container-->
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
      <!--begin::Aside-->
      
      <!--end::Aside-->
      <!--begin::Wrapper-->
      <div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
        <!--begin::Content-->
        <div class="content flex-column-fluid" id="kt_content">
          <!--begin::Toolbar-->
          <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column py-1">
              <!--begin::Title-->
              <h1 class="d-flex align-items-center my-1">
                <span class="text-dark fw-bolder fs-1">Users List</span>
              </h1>
              <!--end::Title-->
              <!--begin::Breadcrumb-->
              
              <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">
              <!--begin::Button-->
              <button class="btn btn-flex btn-sm btn-primary fw-bolder border-0 fs-6 h-40px" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign" id="kt_toolbar_primary_button"(click)="EmployeeList()">Employees List</button>

              
              <!--end::Button-->
            </div>
            <!--end::Actions-->
          </div>
          <!--end::Toolbar-->
          <!--begin::Post-->
          <div class="post" id="kt_post">
            <!--begin::Card-->
            <div class="card">
              <!--begin::Card header-->
              <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                  <!--begin::Search-->
                 
                  <!--end::Search-->
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                
                <!--end::Card toolbar-->
              </div>
              <!--end::Card header-->
              <!--begin::Card body-->
              <div class="card-body pt-0">
                <!--begin::Table-->
                <div id="kt_subscriptions_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="table-responsive"><table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_subscriptions_table">
                  <!--begin::Table head-->
                  <thead>
                    <!--begin::Table row-->
                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                      <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_subscriptions_table" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 141.922px;">Username</th>
                      <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_subscriptions_table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 140.078px;">Firstname</th>
                      <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_subscriptions_table" rowspan="1" colspan="1" aria-label="Billing: activate to sort column ascending" style="width: 159.25px;">Lastname</th>
                      <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_subscriptions_table" rowspan="1" colspan="1" aria-label="Product: activate to sort column ascending" style="width: 148.172px;">E-mail</th>
                      <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_subscriptions_table" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 141.922px;">Departement</th>
                      <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_subscriptions_table" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 141.922px;">Num Tel</th>
                      <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_subscriptions_table" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 141.922px;">Delete</th>
                    </tr>
                    <!--end::Table row-->
                  
                  </thead>
                  <!--end::Table head-->
                  <!--begin::Table body-->
                  <tbody class="text-gray-600 fw-bold">
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                  <tr class="odd" *ngFor="let user of users | paginate :{
                    itemsPerPage:1,
                    currentPage: page,
                    totalItems: count
                  };
                  let i = index" [class.active]="i == currentIndex" (click)="setActiveUser(user, i)">
                      <!--begin::Checkbox-->
                      
                      <!--end::Checkbox-->
                      <!--begin::Customer=-->
                      
         
                      <td>
                        <div class="text-gray-800 text-hover-primary mb-1">{{ user.username }}</div>
                      </td>
                      <!--end::Customer=-->
                      <!--begin::Status=-->
                      <td>{{ user.firstname }}</td>
                      <td>{{ user.lastname }}</td>
                      <td>{{ user.email }}</td>
                      
                      <td>{{ user.departement }}</td>
                      <td>{{ user.numTel }}</td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"> Delete</button>
                      </td>
                      <!--end::Billing=-->
                      <!--begin::Product=-->
                      
                      <!--end::Product=-->
                      <!--begin::Date=-->
                     
                      <!--end::Date=-->
                      <!--begin::Action=-->
                     
                      <!--end::Action=-->
                    </tr></tbody>
                  <!--end::Table body-->
                </table>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                </div>
                <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                  <div class="dataTables_paginate paging_simple_numbers" id="kt_subscriptions_table_paginate">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div>
                </div>
              </div>
                <!--end::Table-->
              </div>
              <!--end::Card body-->
            </div>
            <!--end::Card-->
            <!--begin::Modals-->
            <!--begin::Modal - Adjust Balance-->
            <div class="modal fade" id="kt_subscriptions_export_modal" tabindex="-1" style="display: none;" aria-hidden="true">
              <!--begin::Modal dialog-->
              <div class="modal-dialog modal-dialog-centered mw-650px">
                <!--begin::Modal content-->
                <div class="modal-content">
                  <!--begin::Modal header-->
                  <div class="modal-header">
                    <!--begin::Modal title-->
                    <h2 class="fw-bolder">Export Subscriptions</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <div id="kt_subscriptions_export_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                      <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                      <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                          <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                      </span>
                      <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                  </div>
                  <!--end::Modal header-->
                  <!--begin::Modal body-->
                  <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                    <!--begin::Form-->
                    <form id="kt_subscriptions_export_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                      <!--begin::Input group-->
                      <div class="fv-row mb-10">
                        <!--begin::Label-->
                        <label class="fs-5 fw-bold form-label mb-5">Select Export Format:</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <select data-control="select2" data-placeholder="Select a format" data-hide-search="true" name="format" class="form-select form-select-solid select2-hidden-accessible" data-select2-id="select2-data-19-q70n" tabindex="-1" aria-hidden="true">
                          <option value="excell" data-select2-id="select2-data-21-by6l">Excel</option>
                          <option value="pdf">PDF</option>
                          <option value="cvs">CVS</option>
                          <option value="zip">ZIP</option>
                        </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-20-mee9" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-format-al-container" aria-controls="select2-format-al-container"><span class="select2-selection__rendered" id="select2-format-al-container" role="textbox" aria-readonly="true" title="Excel">Excel</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        <!--end::Input-->
                      </div>
                      <!--end::Input group-->
                      <!--begin::Input group-->
                      <div class="fv-row mb-10 fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="fs-5 fw-bold form-label mb-5">Select Date Range:</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control form-control-solid flatpickr-input" placeholder="Pick a date" name="date" type="hidden"><input class="form-control form-control-solid form-control input" placeholder="Pick a date" tabindex="0" type="text" readonly="readonly">
                        <!--end::Input-->
                      <div class="fv-plugins-message-container invalid-feedback"></div></div>
                      <!--end::Input group-->
                      <!--begin::Row-->
                      <div class="row fv-row mb-15">
                        <!--begin::Label-->
                        <label class="fs-5 fw-bold form-label mb-5">Payment Type:</label>
                        <!--end::Label-->
                        <!--begin::Radio group-->
                        <div class="d-flex flex-column">
                          <!--begin::Radio button-->
                          <label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
                            <input class="form-check-input" type="checkbox" value="1" checked="checked" name="payment_type">
                            <span class="form-check-label text-gray-600 fw-bold">All</span>
                          </label>
                          <!--end::Radio button-->
                          <!--begin::Radio button-->
                          <label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
                            <input class="form-check-input" type="checkbox" value="2" checked="checked" name="payment_type">
                            <span class="form-check-label text-gray-600 fw-bold">Visa</span>
                          </label>
                          <!--end::Radio button-->
                          <!--begin::Radio button-->
                          <label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
                            <input class="form-check-input" type="checkbox" value="3" name="payment_type">
                            <span class="form-check-label text-gray-600 fw-bold">Mastercard</span>
                          </label>
                          <!--end::Radio button-->
                          <!--begin::Radio button-->
                          <label class="form-check form-check-custom form-check-sm form-check-solid">
                            <input class="form-check-input" type="checkbox" value="4" name="payment_type">
                            <span class="form-check-label text-gray-600 fw-bold">American Express</span>
                          </label>
                          <!--end::Radio button-->
                        </div>
                        <!--end::Input group-->
                      </div>
                      <!--end::Row-->
                      <!--begin::Actions-->
                      <div class="text-center">
                        <button type="reset" id="kt_subscriptions_export_cancel" class="btn btn-light me-3">Discard</button>
                        <button type="submit" id="kt_subscriptions_export_submit" class="btn btn-primary">
                          <span class="indicator-label">Submit</span>
                          <span class="indicator-progress">Please wait... 
                          <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                      </div>
                      <!--end::Actions-->
                    <div></div></form>
                    <!--end::Form-->
                  </div>
                  <!--end::Modal body-->
                </div>
                <!--end::Modal content-->
              </div>
              <!--end::Modal dialog-->
            </div>
            <!--end::Modal - New Card-->
            <!--end::Modals-->
          </div>
          <!--end::Post-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->
        <div class="footer pt-10 pb-5 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
          <!--begin::Copyright-->
          <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">2022©</span>
            <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
          </div>
          <!--end::Copyright-->
          <!--begin::Menu-->
          <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
              <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
            </li>
            <li class="menu-item">
              <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
            </li>
            <li class="menu-item">
              <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link ps-2 pe-0">Purchase</a>
            </li>
          </ul>
          <!--end::Menu-->
        </div>
        <!--end::Footer-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Page-->
</div>