<p>advertising-form works!</p>
<div class="container">
    <h1>Create New Advertising</h1>

    <a href="#" routerLink="/collaborator" class="btn btn-primary">Back</a>
    <div class="alert-success">
    <flash-messages name="flash-fixed" class="alert-success"></flash-messages>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">name:</label>
            <input
                    formControlName="name"
                    id="name"
                    type="text"
                    class="form-control" >
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors?.required">name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="cost">cost</label>
            <input
                    formControlName="cost"
                    id="cost"
                    type="numbre"
                    class="form-control">

            <div *ngIf="f.cost.touched && f.cost.invalid" class="alert alert-danger">
                <div *ngIf="f.cost.errors?.required">cost is required.</div>
                <div *ngIf="f.cost.errors?.min"> Cost must 10% </div>
                <div *ngIf="f.cost.errors?.max"> Cost must be at least 90% characters</div>

            </div>
        </div>
        <div class="form-group">
            <label for="typeAd">typeAd</label>
            <input
                    formControlName="typeAd"
                    id="typeAd"
                    type="typeAd"
                    class="form-control">

            <div *ngIf="f.typeAd.touched && f.typeAd.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors?.required">email is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="targetNbrViews">targetNbrViews</label>
            <input
                    formControlName="targetNbrViews"
                    id="targetNbrViews"
                    type="number"
                    class="form-control">

            <div *ngIf="f.targetNbrViews.touched && f.targetNbrViews.invalid" class="alert alert-danger">
                <div *ngIf="f.targetNbrViews.errors?.required">targetNbrViews is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="finalNbrViews">finalNbrViews</label>
            <input
                    formControlName="finalNbrViews"
                    id="finalNbrViews"
                    type="number"
                    class="form-control">

            <div *ngIf="f.finalNbrViews.touched && f.finalNbrViews.invalid" class="alert alert-danger">
                <div *ngIf="f.finalNbrViews.errors?.required">finalNbrViews is required.</div>
            </div>
        </div>


        <div class="form-group">
        <div class="container">
            <div class="row">


                    <label for="flayer">StartDate-EndDate:</label>

                    <input type="text"
                               placeholder="Daterangepicker"
                           id="flayer"
                               class="form-control"
                               bsDaterangepicker>


            </div>
        </div>
        </div>



        <div class="form-group">

        <div *ngIf="message" class="alert_update">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{message}}
        </div>
        <div class="center gray-bg">
            <label class="btn btn-default p-0">
                <label for="flayer">Flayer:</label>

                <input type="file" (change)="selectFile($event)"  id="flayer" class="form-control">
            </label>
        </div>
        </div>





        <button class="btn btn-primary pull-right" type="submit" [disabled]="!form.valid">add Advertising</button>


    </form>
</div>

